In [ ]:
"""Q1. What is a database? Differentiate between SQL and NoSQL databases?.

ANS=

A database is a structured collection of data that can be accessed, managed, and updated easily.
It can be used to store, organize, and retrieve data efficiently.
There are two types of databases: SQL (relational) and NoSQL (non-relational).

SQL databases are based on a relational model and use Structured Query Language (SQL) to manage data.
They are used to manage structured data that can be represented in a tabular form. Examples of SQL databases include MySQL, Oracle, and SQL Server.

NoSQL databases, on the other hand, are designed to handle unstructured and semi-structured data.
They do not use a tabular structure and do not rely on SQL for querying data. Examples of NoSQL databases include MongoDB, Cassandra, and Redis."""

In [ ]:
"""Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example."""
#ans
"""1. CREATE: It is used to create a new database object, such as a table or index.
For example, the following command creates a new table named "customers":
        CREATE TABLE customers (
        id INT NOT NULL,
        name VARCHAR(255) NOT NULL,
        email VARCHAR(255),
        PRIMARY KEY (id)
        );"""

"""2.DROP: It is used to delete a database object, such as a table or index.
For example, the following command deletes the "customers" table:
        DROP TABLE customers;"""

"""3.ALTER: It is used to modify the structure of a database object, such as adding or deleting columns from a table.
For example, the following command adds a new column named "address" to the "customers" table:
        ALTER TABLE customers ADD address VARCHAR(255); """

"""4.TRUNCATE: It is used to delete all the data from a table without deleting the table itself.
For example, the following command deletes all the data from the "customers" table:
        TRUNCATE TABLE customers;"""

In [ ]:
"""Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

ans=

DML stands for Data Manipulation Language. It is used to manipulate the data stored in the database.
The following are some examples of DML commands:

INSERT: It is used to insert new data into a table. For example, the following command inserts a new record into the "customers" table:
        INSERT INTO customers (id, name, email) VALUES (1, 'John', 'john@example.com');

UPDATE: It is used to modify existing data in a table. For example, the following command updates the email address of the record with id 1 in the "customers" table:
        UPDATE customers SET email = 'john.doe@example.com' WHERE id = 1;

DELETE: It is used to delete data from a table. For example, the following command deletes the record with id 1 from the "customers" table:
        DELETE FROM customers WHERE id = 1;"""

In [ ]:
"""Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is used to query the data stored in the database.
The most commonly used DQL command is SELECT, which is used to retrieve data from one or more tables.
For example, the following command retrieves all the data from the "customers" table:

        SELECT * FROM customers;

This command will return a result set that contains all the columns and rows from the "customers" table. You can also specify which columns you want to retrieve by listing them after the SELECT keyword. For example,"""

In [ ]:
"""Q5.Explain Primary Key and Foreign Key.

ANS= Primary Key is a column or a set of columns in a database table that uniquely identifies each row in the table.
It is used to enforce data integrity and consistency in the table.
The primary key constraint ensures that the values in the primary key column(s) are unique and not null.

Foreign Key is a column or a set of columns in a table that refers to the primary key of another table.
It establishes a relationship between two tables based on a common column.
The foreign key constraint ensures that the values in the foreign key column(s) of the table refer to an existing primary key value in the referenced table or are null."""

In [ ]:
"""Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method."""
#ANS
import mysql.connector

# establish a connection to the MySQL server
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# create a cursor object to interact with the database
mycursor = mydb.cursor()

# execute a SQL query
mycursor.execute("SELECT * FROM customers")

# fetch the result set
result = mycursor.fetchall()

# print the result set
for row in result:
  print(row)

In [ ]:
"""Q7. Give the order of execution of SQL clauses in an SQL query.

ANS= The order of execution of SQL clauses in an SQL query is as follows:

SELECT
FROM
JOIN
WHERE
GROUP BY
HAVING
ORDER BY

     EXPLANING ECAH QUERY:-

The SELECT clause specifies the columns to be retrieved from the database.

The FROM clause specifies the tables to be queried.

The JOIN clause is used to combine rows from two or more tables based on a related column between them.

The WHERE clause filters the rows based on a condition. The GROUP BY clause is used to group the rows based on a column or a set of columns. The HAVING clause filters the grouped rows based on a condition.

The ORDER BY clause is used to sort the result set based on one or more columns in ascending or descending order.





"""